* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
  font-size: 1.2rem;
}

.btn:hover {
  background: #808080;
}

.indextitle {
  text-align: center;
  margin-top: 50px;
}

.controller_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

form {
  width: 300px;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin-top: 20px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form h2 {
  text-align: center;
  font-size: 3rem;
}

.showtitle{
  text-align: center;
  margin: 50px 0;
  font-size: 3rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
}

.cardflex {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  font-size: 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.btnsflex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}